{% extends "layouts/layout.html" %}
{% block body %}
<div class="col-5 d-flex justify-content-center">
	<h4 class="bg-gray ml-5">マイページ</h4>
</div>
<table class="table table-borderless mb-1">
	<tr>
		<td class="align-middle pl-0", style="width:10%"><big><strong>登録情報<strong></big></td>
		<td><a href="{{url_for('customer.edit')}}" class="btn btn-success px-4">編集する</a></td>
	</tr>
</table>
<table class="table table-bordered td-active", style="width:70%">
	<tr>
		<td>氏名</td>
		<td>{{ current_user.full_name() }}</td>
	</tr>
	<tr>
		<td>カナ</td>
		<td>{{ current_user.full_name_kana() }}</td>
	</tr>
	<tr>
		<td>郵便番号</td>
		<td>{{ current_user.post_code }}</td>
	</tr>
	<tr>
		<td>住所</td>
		<td>{{ current_user.show_address() }}</td>
	</tr>
	<tr>
		<td>電話番号</td>
		<td>{{ current_user.tel_number }}</td>
	</tr>
	<tr>
		<td>メールアドレス</td>
		<td>{{ current_user.email }}</td>
	</tr>
</table>
<table class="table table-borderless">
	<tr>
		<td class="align-middle pl-0", style="width:10%"><big><strong>配送先<strong></big></td>
		<td><a href="{{url_for('address.index')}}" class="btn btn-primary px-4">一覧を見る</a></td>
	</tr>
	<tr>
		<td class="align-middle pl-0"><big><strong>注文履歴<strong></big></td>
		<td><a href="{{url_for('order.index')}}" class="btn btn-primary px-4">一覧を見る</a>
	</tr>
</table> 
{% endblock %}