{% extends "layouts/layout.html" %}
{% block body %}
<div class="col-4 d-flex justify-content-center mb-2">
    <h4 class="bg-gray">会員一覧</h4>
</div>
<div class="link-underline link-dark d-flex justify-content-center">
    <table class="table admin-table" style="width:70%">
        <thead>
            <tr class="table-secondary">
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %} 
                <tr>
                    <td>{{ customer.id }}</td>
                    <td><a href="{{url_for('admin_customer.show', id=customer.id)}}">{{ customer.full_name() }}</a></td>
                    <td>{{ customer.email }}</td>
                    <td>
                        {% if customer.is_active %} 
                            <span class="text-success">有効</span> 
                        {% else %}
                            <span class="text-secondary">退会</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}