{% extends "layouts/layout.html" %}
{% block body %}
<div class="col-5 d-flex justify-content-center">
	<h4 class="bg-gray">注文履歴詳細</h4>
</div>
<div class="row mt-5">
	<div class="col-7">
		<h5><strong>注文情報</strong></h5>
		<table class="table table-bordered td-active">
			<tr>
				<td>注文日</td>
				<td>{{ order.created_at }}</td>
			</tr>
			<tr>
				<td>配送先</td>
				<td>
					〒{{ order.post_code }}<br>
                    {{ order.address }}<br>
                    {{ order.name }}
				</td>
			</tr>
			<tr>
				<td>支払方法</td>
				<td>{{ order.payment_method_ja() }}</td>
			</tr>
			<tr>
				<td>ステータス</td>
				<td>{{ order.status_ja() }}</td>
			</tr>
		</table>
	</div>
	<div class="col-5 pl-0">
		<h5><strong>請求情報</strong></h5>
		<table class="table table-bordered td-active" style="width:70%">
			<tr>
				<td style="width:55%">商品合計</td>
				<td style="width:45%">{{ order.total_price - order.shipping_cost }}</td>
			</tr>
			<tr>
				<td>配送料</td>
				<td>{{ order.shipping_cost }}</td>
			</tr>
			<tr>
				<td><strong>ご請求額</strong></td>
				<td>{{ order.total_price }}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-9">
		<h5><strong>注文内容</strong></h5>
		<table class="table table-bordered">
			<thead class="table-active">
				<tr>
					<th style="width:60%">商品</th>
					<th>単価（税込）</th>
					<th>個数</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
                {% for order_item in order_items %}
                    <tr>
                        <td>
                            <a href="{{url_for('item.show', id=order_item.item.id)}}">
                                <img src="{{order_item.item.image_path}}" width="100" height="75" alt="商品画像" class="mr-2">
                                {{ order_item.item.name }}
                            </a>
                        </td>
                        <td>{{ order_item.price }}</td>
                        <td>{{ order_item.amount }}</td>
                        <td>{{ order_item.price * order_item.amount }}</td>
                    </tr> 
                {% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}