{% extends "layouts/layout.html" %}
{% block body %}
<div class="d-flex justify-content-between mb-5 px-5">
	<h4 class="bg-gray ml-5">商品一覧</h4>
    <a href="{{url_for('admin_item.new')}}"><i class="fas fa-plus-circle"></i></a>
</div>
<div class="d-flex justify-content-center">
	<table class="table admin-table" style="width:80%">
		<thead>
			<tr class="table-secondary">
				<th style="width:10%">商品ID</th>
				<th style="width:30%">商品名</th>
				<th style="width:10%">税抜価格</th>
				<th style="width:30%">ジャンル</th>
				<th style="width:20%">ステータス</th>
			</tr>
		</tbody>
		<tbody>
            {% for item in items %} 
                <tr>
                    <td>{{ item.id }}</td>
                    <td class="link-underline link-dark"><a href="{{url_for('admin_item.show', id=item.id)}}">{{ item.name }}</a></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.genre.name }}</td>
                    <td>
                        {% if item.is_active %} 
                            <span class="text-success">販売中</span>
                        {% else %} 
                            <span class="text-secondary">販売停止中</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}  
		</tbody>
	</table>
</div>
{% endblock %}